<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717849574791-h6o0p41ogph9de5cjqiv9s6on084dcbd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717849574791-h6o0p41ogph9de5cjqiv9s6on084dcbd</string>
	<key>API_KEY</key>
	<string>AIzaSyC-YF_ogHnESeM1_by7l4hn1DpCZBJowe0</string>
	<key>GCM_SENDER_ID</key>
	<string>717849574791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tmcguiggan.BracketzFinal</string>
	<key>PROJECT_ID</key>
	<string>bracketzfinal</string>
	<key>STORAGE_BUCKET</key>
	<string>bracketzfinal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717849574791:ios:03d356d1dd130238d9e722</string>
</dict>
</plist>